html, body, #root {
  min-height: 100%;
  margin: 0;
  font-family: Inter, 'Segoe UI', sans-serif;
  background: #020817;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  min-height: 100vh;
}
